.post-image {
	width: 100%;
	max-width: 300px;
	height: 100%;
	max-height: 200px;
	display: table;
	margin: auto;
}

.post-image img {
	width: 100%;
}
.posts-component {
	margin-top: 2rem;
}

.pagination-div {
	margin-top: 0.2rem;
	text-align: right;
}

.post-footer {
	display: flex;
	justify-content: flex-end;
	margin: 0 2rem;
}

.post-username {
	font-weight: bold;
	text-align: right;
}

.create-post-btn {
	margin: 1rem;
}
